{% extends 'base.html' %}
{% block body %}

    <div class="add_buttons">

        <div class="button-group">
            <div class="col text-center">
                <a href="{% url 'display_Restaurant' %}" class="btn btn-primary btn-md btn-trim" role="button">
                    Restaurant</a>
                <a href="{% url 'add_Restaurant' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

                <a href="{% url 'display_Employee' %}" class="btn btn-primary btn-md btn-trim" role="button">
                    Employee</a>
                <a href="{% url 'add_Employee' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

                <a href="{% url 'display_Location' %}" class="btn btn-primary btn-md btn-trim" role="button">
                    Location</a>
                <a href="{% url 'add_Location' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

                <a href="{% url 'display_Financial' %}" class="btn btn-primary btn-md btn-trim" role="button">
                    Financial</a>
                <a href="{% url 'add_Financial' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

                <a href="{% url 'display_Cost' %}" class="btn btn-primary btn-md btn-trim" role="button"> Cost</a>
                <a href="{% url 'add_Cost' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

                <a href="{% url 'display_Rewards' %}" class="btn btn-primary btn-md btn-trim" role="button"> Rewards</a>
                <a href="{% url 'add_Rewards' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

            </div>

        </div>

    </div>

    <h4>{{ header }}</h4>
    <table class="table table-hover">

        <!--    Restaurant Table View-->
        {% if header == "Restaurant" %}
            <thead>
            <tr>
                <th>
                    Restaurant_Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Dining_Environment
                </th>
                <th>
                    Number_of_Total_Employees
                </th>
                <th>
                    Cuisine
                </th>
                <th>
                    Max_Capacity
                </th>
                <th>
                    Meal_Type
                </th>
                <th>
                    Rating
                </th>

            </tr>
            </thead>

            <tbody>

            {% for item in items %}

                <tr>
                    <td>{{ item.Restaurant_Id }}
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Type }}</td>
                    <td>{{ item.Dining_Environment }}</td>
                    <td>{{ item.Number_Total_Employees }}</td>
                    <td>{{ item.Cuisine }}</td>
                    <td>{{ item.Max_Capacity }}</td>
                    <td>{{ item.Meal_Type }}</td>
                    <td>{{ item.Rating }}</td>

                    <td>
                        <a href="{% url 'edit_Restaurant' item.pk %}" class="btn btn-warning btn-sm" role="button"
                           aria-pressed="true"> Edit</a>
                        <a href="{% url 'delete_Restaurant' item.pk %}" class="btn btn-danger btn-sm" role="button"
                           aria-pressed="true"> x</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        {% endif %}


        <!--    Employee Table View-->
        {% if header == "Employee" %}
            <thead>
            <tr>
                <th>
                    Employee_Id
                </th>
                <th>
                    Restaurant
                </th>
                <th>
                    Name
                </th>
                <th>
                    Job_Type
                </th>
                <th>
                    Hourly_Salary
                </th>
                <th>
                    Weekly_Hours
                </th>
                <th>
                    Employee_Satisfaction
                </th>
            </tr>
            </thead>

            <tbody>

            {% for item in items %}

                <tr>
                    <td>{{ item.Employee_Id }}
                    <td>{{ item.Restaurant }}</td>
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Job_Type }}</td>
                    <td>{{ item.Hourly_Salary }}</td>
                    <td>{{ item.Weekly_Hours }}</td>
                    <td>{{ item.Satisfaction }}</td>

                    <td>
                        <a href="{% url 'edit_Employee' item.pk %}" class="btn btn-warning btn-sm" role="button"
                           aria-pressed="true"> Edit</a>
                        <a href="{% url 'delete_Employee' item.pk %}" class="btn btn-danger btn-sm" role="button"
                           aria-pressed="true"> x</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        {% endif %}

        <!--    Location Table View-->
        {% if header == "Location" %}
            <thead>
            <tr>
                <th>
                    Location_Id
                </th>
                <th>
                    Restaurant_Id
                </th>
                <th>
                    Town
                </th>
                <th>
                    State
                </th>
                <th>
                    Address
                </th>

            </tr>
            </thead>

            <tbody>

            {% for item in items %}

                <tr>
                    <td>{{ item.Location_Id }}
                    <td>{{ item.Town }}</td>

                    <td>
                        <a href="{% url 'edit_Location' item.pk %}" class="btn btn-warning btn-sm" role="button"
                           aria-pressed="true"> Edit</a>
                        <a href="{% url 'delete_Location' item.pk %}" class="btn btn-danger btn-sm" role="button"
                           aria-pressed="true"> x</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        {% endif %}

        <!--    Financial Table View-->
        {% if header == "Financial" %}
            <thead>
            <tr>
                <th>
                    Financial_Id
                </th>
                <th>
                    Date
                </th>
                <th>
                    Restaurant_Id
                </th>
                <th>
                    Cost_Id
                </th>
                <th>
                    Financial_Id
                </th>
                <th>
                    Revenue_Per_Month
                </th>
                <th>
                    Costs_Per_Month
                </th>
                <th>
                    Net_Per_Month
                </th>
            </tr>
            </thead>

            <tbody>

            {% for item in items %}

                <tr>
                    <td>{{ item.Date }}</td>
                    <td>
                        <a href="{% url 'edit_Financial' item.pk %}" class="btn btn-warning btn-sm" role="button"
                           aria-pressed="true"> Edit</a>
                        <a href="{% url 'delete_Financial' item.pk %}" class="btn btn-danger btn-sm" role="button"
                           aria-pressed="true"> x</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>

        {% endif %}

        <!--    Cost Table View-->
        {% if header == "Cost" %}
            <thead>
            <tr>
                <th>
                    Cost_Id
                </th>
                <th>
                    Rent
                </th>
                <th>
                    Utilities
                </th>
                <th>
                    Inventory
                </th>
                <th>
                    Total_Costs
                </th>
            </tr>
            </thead>

            <tbody>

            {% for item in items %}

                <tr>
                    <td>{{ item.Cost_Id }}
                    <td>
                        <a href="{% url 'edit_Cost' item.pk %}" class="btn btn-warning btn-sm" role="button"
                           aria-pressed="true"> Edit</a>
                        <a href="{% url 'delete_Cost' item.pk %}" class="btn btn-danger btn-sm" role="button"
                           aria-pressed="true"> x</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        {% endif %}

        <!--    Rewards Table View-->
        {% if header == "Rewards" %}
            <thead>
            <tr>
                <th>
                    Customer_Id
                </th>
                <th>
                    Customer_Name
                </th>
                <th>
                    Restaurant_Id
                </th>
                <th>
                    Program_Name
                </th>
                <th>
                    Total_Points
                </th>
                <th>
                    Cumulative_Rewards_Used
                </th>

            </tr>
            </thead>

            <tbody>

            {% for item in items %}

                <tr>
                    <td>{{ item.Customer_Id }}
                    <td>
                        <a href="{% url 'edit_Rewards' item.pk %}" class="btn btn-warning btn-sm" role="button"
                           aria-pressed="true"> Edit</a>
                        <a href="{% url 'delete_Rewards' item.pk %}" class="btn btn-danger btn-sm" role="button"
                           aria-pressed="true"> x</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        {% endif %}

    </table>

{% endblock %}

